@using ProyectoAppWeb.Herramientas;
<h3>Manejo de sesiones</h3>
Edad: @Context.Session.GetInt32("edad") <br >
Usuario: @Context.Session.GetString("usuario")
<br>

<br>

<h2>Rescatando un Objeto</h2>

@{
    Producto p = ConversorParaSesion.GetObjetoDeJson<Producto>(Context.Session, "prod");
}

ID: @p.Id <br />
Nombre: @p.Nombre <br />
Precio: @p.Precio <br />
Foto: <img height="100px" src="~/imagenes/@p.Foto"> <br />



<h2>Rescatando lista de productos</h2>

@{
    List<Producto> productos = ConversorParaSesion.GetObjetoDeJson<List<Producto>>(Context.Session, "prods");
}

@foreach (Producto producto in productos)
{
    <div>
        ID: @producto.Id <br />
        Nombre: @producto.Nombre <br />
        Precio: @producto.Precio <br />
        Foto: <img height="100px" src="~/imagenes/@producto.Foto"> <br />
        ------------------------------------------ <br />
    </div>    
}