<h3>Valores desde appsettings.json</h3>
Ejemplo 1: @ViewBag.ejemplo1<br>
Ejemplo 2: @ViewBag.ejemplo2
<br>
Ejemplo 3: @ViewBag.ejemplo3
<br>
Ejemplo 4: @ViewBag.ejemplo4<br>
Ejemplo 5: @ViewBag.ejemplo5
<br>
Ejemplo 6: @ViewBag.ejemplo6
<br>